@page "/Folder/{Id:int}"
@using System.Text.Json
@using document.lib.bl.contracts.DocumentHandling
@using document.lib.bl.contracts.Folders
@using document.lib.bl.shared
@using document.lib.core.System
@using document.lib.data.context
@using document.lib.data.models.Folders
@using Microsoft.EntityFrameworkCore

@rendermode InteractiveServer

@inject IDbContextFactory<DatabaseContext> DbContextFactory
@inject IFolderQuery<UnitOfWork> FolderQuery
@inject NotificationService NotificationService
@inject IGetFolderOverviewUseCase<UnitOfWork> GetFolderOverviewUseCase
@inject IStringLocalizer<Resources> L

@if (_folder != null!)
{
    <div class="rz-m-12">
        <RadzenBreadCrumb>
            <ChildContent>
                <RadzenBreadCrumbItem Path="/" Text="Home" />
                <RadzenBreadCrumbItem Path="/folder" Text="Folder" />
                <RadzenBreadCrumbItem Text="@_folder.Id.ToString()" />
            </ChildContent>
        </RadzenBreadCrumb>
    </div>
    <RadzenRow>
        <RadzenColumn Size="6">
            <RadzenFieldset Text="Folder Details">
                <RadzenStack Orientation="Orientation.Vertical" Gap="1rem">
                    <RadzenFormField Text="Id">
                        <RadzenNumeric Value="@_folder.Id" ReadOnly="true" Disabled="true"/>
                    </RadzenFormField>
                    <RadzenFormField Text="Name">
                        <RadzenTextBox Value="@_folder.Name" ReadOnly="true" Disabled="true"/>
                    </RadzenFormField>
                    <RadzenFormField Text="Display Name">
                        <RadzenTextBox @bind-Value="_folder.DisplayName"/>
                    </RadzenFormField>
                    <RadzenRow>
                        <RadzenColumn Size="3">
                            <RadzenFormField Text="Total Documents">
                                <RadzenNumeric Value="@_folder.TotalDocuments"/>
                            </RadzenFormField>
                        </RadzenColumn>
                        <RadzenColumn Size="3">
                            <RadzenFormField Text="Max Documents">
                                <RadzenNumeric Value="@_folder.MaxDocumentsFolder"/>
                            </RadzenFormField>
                        </RadzenColumn>
                        <RadzenColumn Size="3">
                            <RadzenFormField Text="Max Documents in Register">
                                <RadzenNumeric Value="@_folder.MaxDocumentsRegister"/>
                            </RadzenFormField>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenStack>
            </RadzenFieldset>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn Size="6">
            <RadzenButton Text="@L["Button.Show"]" Click="@LoadFolderOverview"/>
            @if (_folderView is { Items.Count: >0 } )
            {
                <RadzenDataGrid Data="@_folderView.Items" @ref=grid AllowGrouping="true" Render="@OnRender" TItem="FolderViewItem">
                    <Columns>
                        <RadzenDataGridColumn Property="@nameof(FolderViewItem.Document)" Title="@L["Document"]"/>
                        <RadzenDataGridColumn Property="@nameof(FolderViewItem.Register)" Title="@L["Register"]"/>    
                    </Columns>
                </RadzenDataGrid>
            }
        </RadzenColumn>
    </RadzenRow>
}