@page "/documentoverview"
@using document.lib.shared.Services
@using document.lib.shared.TableEntities
@using System.Web

@inject CosmosQueryService _cosmosQueryService
@inject NavigationManager NavigationManager

<h3>DocumentOverview</h3>

<RadzenFieldset Text="Documents">
    <div class="container-fluid">
        @foreach (var chunk in _documents.Chunk(3))
        {
            <div class="row my-5">
                @foreach (var doc in chunk)
                {
                    <div class="col-md-3">
                        <RadzenCard>
                            <RadzenText TextStyle="TextStyle.H6"><strong>@(doc.DisplayName.Length > 50 ? doc.DisplayName.Substring(0,50) + "..." : doc.DisplayName)</strong></RadzenText>
                            <div class="row">
                                <div class="col-md-5">
                                    <RadzenText TextStyle="TextStyle.Overline">Name</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>@(doc.DisplayName)</b></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Overline">Date</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>@(doc.DateOfDocument?.ToString("yyyy-MM-dd") ?? "")</b></RadzenText>
                                    @if (!doc.DigitalOnly)
                                    {
                                        <RadzenText TextStyle="TextStyle.Overline">Folder</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@(doc.FolderName)</b></RadzenText>
                                    }
                                    else
                                    {
                                        <RadzenText TextStyle="TextStyle.Overline">Location</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>Digital only</b></RadzenText>
                                    }
                                </div>
                                <div class="col-md-5">
                                    <RadzenText TextStyle="TextStyle.Overline">Company</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>@(doc.Company)</b></RadzenText>
                                    <RadzenText TextStyle="TextStyle.Overline">Category</RadzenText>
                                    <RadzenText TextStyle="TextStyle.Body1"><b>@(doc.CategoryName)</b></RadzenText>
                                    @if (!doc.DigitalOnly)
                                    {
                                        <RadzenText TextStyle="TextStyle.Overline">Register</RadzenText>
                                        <RadzenText TextStyle="TextStyle.Body1"><b>@(doc.RegisterName)</b></RadzenText>
                                    }
                                </div>
                                <div class="col-md-2">
                                    <RadzenButton Text="Edit" Click="@((args) => Edit(args, doc.PhysicalName))"></RadzenButton>
                                </div>
                            </div>
                        </RadzenCard>
                    </div>
                }
            </div>   
        }
    </div>
</RadzenFieldset>


@code {

    List<DocLibDocument> _documents = new List<DocLibDocument>();

    protected override async Task OnInitializedAsync()
    {
        _documents = (await _cosmosQueryService.ExecuteQueryAsync(new DocumentQuery())).ToList();
    }

    private void Edit(MouseEventArgs args, string physicalName)
    {
        NavigationManager.NavigateTo($"/edit/{HttpUtility.UrlEncode(physicalName)}");
    }

}
